:root {
  --accent: #2496e2;
  --like: #f0456a;
}

* {
  padding: 0px;
  margin: 0px;
  font-family: Inter;
  font-size: 12px;
  box-sizing: border-box;
}

body {
  width: 480px;
  margin: auto;
}

#navigation {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 480px;
}

#navigation > div {
  padding: 12px;
  flex-grow: 1;
  border-radius: 999px;
  margin: 10px;
  text-align: center;
}

#navigation > div > i {
  font-size: 16px;
}

#navigation > div.active {
  background: #000;
  color: #fff;
}

#navigation > div:hover:not(.active) {
  background: rgba(0,0,0,0.1);
}

.post {
  display: flex;
  flex-wrap: wrap;
  padding: 12px;
}

.post > div:first-child > img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 12px;
}

.post > div {
  display: flex;
}

.post > div:first-child {
  margin-bottom: 12px;
}

.post > div:first-child > span {
  font-size: 24px;
  align-self: center;
}

.post > p {
  font-size: 16px;
  margin-bottom: 12px;
}

.icon-button {
  display: flex;
  color: var(--accent);
  padding: 4px 8px;
  border-radius: 999px;
}

.icon-button > i {
  font-size: 20px;
  margin-right: 4px;
}

.icon-button > span {
  align-self: center;
  font-size: 16px;
}

.icon-button:hover {
  background: rgba(0,0,0,0.1);
}

.post > div:last-child > .icon-button {
  margin-right: 24px;
}

.post > div:last-child {
  align-items: center;
  flex-grow: 1;
}

.post > div:last-child > span {
  text-align: right;
  flex-grow: 1;
  font-size: 16px;
  color: #787878;
}

.like-button {
  color: var(--like);
}
