<div id="feed">
  <div class="post">
    <div>
      <img src="https://ui-avatars.com/api/?name=aspizu" />
      <span>aspizu</span>
    </div>
    <p>
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum."
    </p>
    <div>
      <div class="icon-button like-button">
        <i class="fa-solid fa-heart"></i>
        <span>3289</span>
      </div>
      <div class="icon-button">
        <i class="fa-solid fa-message"></i>
        <span>384</span>
      </div>
      <div class="flex-grow"></div>
      <span>Thursday 24 Nov 12:55 AM</span>
    </div>
  </div>
</div>
